@import "variables";
//reset style
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
html {
    width: 100%;
    background: url("../images/login-bg.png") no-repeat;
    background-size: 100vw 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

html {
    scroll-behavior: smooth;
    font-family: Poppins-regular, sans-serif;
}

h1 {
    font-family: myriad-pro, sans-serif;
}

button,
input,
textarea,
select {
    outline: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.inactive {
    display: none !important;
}

.block {
    display: block;
}

.body-section {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

//responsive
@media only screen and (max-width: 785px) {
    .body-section {
        grid-template-columns: 1fr;
        .less-padding {
            padding: 0 !important;
        }
        .up {
            height: 276px;
            overflow: hidden;
            background: #00000057;
            .container-mobile {
                opacity: 0.3;
            }
            .arrow-down-mobile {
                display: grid;
            }
        }
        .down {
            height: auto;
            overflow: hidden;
            background: #fafbfc;
            .container-mobile {
                background-color: transparent;
                opacity: 1;
                overflow: auto;
                margin-bottom: 40px;
            }
            .arrow-down-mobile {
                display: none;
            }
            .arrow-up-mobile {
                display: grid;
            }
        }
    }
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #0074ff;
}

.bold {
    font-weight: bold;
}