.header-section {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 16px;
    border-bottom: 1px solid #d1e0ff;
    grid-gap: 232px;
    .brand-wrapper {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 16px;
        align-items: center;
        figure {
            background-color: #d1e0ff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        h1 {
            font-size: $brand-font;
            line-height: $brand-line;
            cursor: pointer;
        }
    }
    nav {
        align-items: center;
        display: grid;
        justify-content: right;
        .nav-ul {
             :last-child {
                border-right: 0;
            }
            li {
                padding: 0 17px;
                border-right: 1px solid rgb(209, 224, 255);
                .active {
                    border-bottom: 2px solid #0074ff;
                    color: $menu-active;
                }
                a {
                    color: $menu-color;
                    font-size: $menu-font;
                    line-height: $menu-line;
                    padding: 26px 0;
                }
            }
        }
    }
    .paging-wrapper {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-gap: 17px;
        align-items: center;
        .left-img {}
        .right-img {
            font-size: $menu-font;
            line-height: $menu-line;
            color: $dark-gray;
        }
        .pages {}
    }
    .head-btn-wrapper {
        .menu-head-btn {
            border-width: 1px;
            border-color: #0074ff;
            border-style: solid;
            border-radius: 2px;
            background-color: white;
            padding: 10px 22px;
            width: 100%;
            cursor: pointer;
            a {
                color: $menu-active;
                font-size: 13px;
            }
        }
    }
}

//responsive
@media only screen and (max-width: 1410px) {
    .header-section {
        grid-gap: 0;
    }
}

@media only screen and (max-width: 998px) {
    .header-section {
        .paging-wrapper {
            font-size: 14px;
        }
        nav {
            .nav-ul {
                 :nth-child(4),
                 :nth-child(5) {
                    display: none;
                }
                 :nth-child(3) {
                    border-right: 0;
                }
                li {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .paging-wrapper {
            .pages {
                .page1 {
                    display: none;
                }
                .page2 {
                    display: inline;
                }
            }
        }
        .brand-wrapper {
            h1 {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 785px) {
    .header-section {
        grid-template-columns: 1fr max-content;
        nav {
            display: none;
        }
        .paging-wrapper {
            display: none;
        }
        .head-btn-wrapper {
            display: grid;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 420px) {
    .header-section {
        .brand-wrapper {
            grid-gap: 7px;
            figure {
                width: 35px;
                height: 35px;
            }
            h1 {
                font-size: 12px;
            }
        }
        .head-btn-wrapper {
            .menu-head-btn {
                padding: 7px 10px;
                a {
                    font-size: 12px;
                }
            }
        }
    }
}