.mobile-section {
    padding: 40px 0;
    background: #fafbfc;
    .container-mobile {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        justify-content: center;
        grid-gap: 16px;
        .mobile-select {
            margin: 0 35px;
            border-width: 1px;
            border-color: #d6d6d6;
            border-style: solid;
            border-radius: 2px;
            background-color: white;
            padding: 6px 60px;
            option {
                font-size: $menu-font;
            }
        }
        .mobile-btns-foot {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 18px;
            position: relative;
            bottom: 50px;
            grid-gap: 25px;
            .mobile-btn1 {
                a {
                    border-width: 1px;
                    border-color: #8a96a0;
                    border-style: solid;
                    border-radius: 2px;
                    background-color: white;
                    color: #aaaaaa;
                    padding: 5px 20px;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    grid-gap: 5px;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: $btn-text;
                    }
                }
            }
            .mobile-btn2 {
                a {
                    border-width: 1px;
                    border-color: #8a96a0;
                    border-style: solid;
                    border-radius: 2px;
                    background-color: white;
                    color: #aaaaaa;
                    padding: 5px 20px;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    grid-gap: 5px;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: $btn-text;
                    }
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 1130px) {
    .mobile-section {
        .container-mobile {
            figure {
                display: grid;
                justify-items: center;
                img {
                    width: 70%;
                }
            }
            .mobile-select {
                justify-self: center;
                padding: 0 0 5px;
                margin: 0;
            }
            .mobile-btns-foot {
                grid-gap: 10px;
                margin: 0 55px;
                .mobile-btn1 {
                    a {
                        padding: 5px 5px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
                .mobile-btn2 {
                    a {
                        padding: 4px 5px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 998px) {
    .mobile-section {
        .container-mobile {
            .mobile-btns-foot {
                img {
                    width: 15px !important;
                }
            }
        }
    }
}