.mobile-section {
    padding: 40px 0 0;
    background: #fafbfc;
    .arrow-down-mobile {
        background: #f5cbcb;
        width: 25px;
        height: 12px;
        bottom: 0;
        position: absolute;
        align-content: center;
        justify-content: center;
        border: 1px solid #808080b8;
        border-bottom: none;
        cursor: pointer;
        img {
            transform: rotate(-90deg);
            width: 6px;
        }
    }
    .arrow-up-mobile {
        background: #f7b2b2;
        width: 25px;
        height: 12px;
        bottom: 0;
        position: absolute;
        align-content: center;
        justify-content: center;
        border: 1px solid #808080b8;
        border-bottom: none;
        cursor: pointer;
        img {
            transform: rotate(90deg);
            width: 6px;
        }
    }
    .container-mobile {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        justify-content: center;
        grid-gap: 10px;
        .mobile-select {
            margin: 0 35px;
            border-width: 1px;
            border-color: #d6d6d6;
            border-style: solid;
            border-radius: 2px;
            background-color: white;
            padding: 6px 60px;
            option {
                font-size: $menu-font;
            }
        }
        // figure {
        //     display: grid;
        //     justify-items: center;
        // }
        .mobile-frame {
            border: 4px solid black;
            border-radius: 30px;
            background-clip: border-box;
            background: black;
            display: grid;
            justify-self: center;
            width: 70%;
            margin: 7px 0 15px;
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
            .mobile-img {
                border-radius: 25px;
                overflow: hidden;
                border: 7px solid black;
                background: white;
                width: 100%;
                height: min(100vh - 255px);
            }
        }
        .mobile-btns-foot {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 18px;
            grid-gap: 25px;
            padding: 10px 0 0;
            .mobile-btn1 {
                a {
                    border-width: 1px;
                    border-color: #8a96a0;
                    border-style: solid;
                    border-radius: 2px;
                    background-color: white;
                    color: #aaaaaa;
                    padding: 5px 20px;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    grid-gap: 5px;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: $btn-text;
                    }
                }
            }
            .mobile-btn2 {
                a {
                    border-width: 1px;
                    border-color: #8a96a0;
                    border-style: solid;
                    border-radius: 2px;
                    background-color: white;
                    color: #aaaaaa;
                    padding: 5px 20px;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    grid-gap: 5px;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: $btn-text;
                    }
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 1370px) {
    .mobile-section {
        .container-mobile {}
    }
}

@media only screen and (max-width: 1130px) {
    .mobile-section {
        position: relative;
        display: grid;
        justify-items: center;
        padding: 25px 0 0;
        .container-mobile {
            .mobile-select {
                justify-self: center;
                padding: 0 0 5px;
                margin: 0;
            }
            .mobile-btns-foot {
                grid-gap: 10px;
                margin: 0 55px;
                .mobile-btn1 {
                    a {
                        padding: 5px 5px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
                .mobile-btn2 {
                    a {
                        padding: 4px 5px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 998px) {
    .mobile-section {
        .container-mobile {
            .mobile-btns-foot {
                img {
                    width: 15px !important;
                }
            }
        }
    }
}