.sidebar-section {
  .head-btn-wrapper {
    padding: 25px 13px;
    border-right: 1px solid #d1e0ff;
    .menu-head-btn {
      border-width: 1px;
      border-color: #0074ff;
      border-style: solid;
      border-radius: 2px;
      background-color: white;
      padding: 11px 33px;
      width: 100%;
      cursor: pointer;
      a {
        color: $menu-active;
      }
    }
  }
  .sidebar-options-wrapper {
    border-top: 1px solid #d1e0ff;
    border-bottom: 1px solid #d1e0ff;
    border-right: 1px solid #d1e0ff;
    .options-ul {
      padding: 0 0 277px;
      li {
        .active {
          color: $menu-active;
          background-color: rgb(250, 251, 252);

          .blue-img {
            display: block;
          }
          .gray-img {
            display: none;
          }
        }
        a {
          display: grid;
          grid-template-columns: max-content 1fr;
          grid-gap: 13px;
          padding: 17px;
          align-items: center;
          color: $menu-color;
        }
      }
    }
  }
  .foot-btn-wrapper {
    padding: 25px 13px;
    border-right: 1px solid #d1e0ff;
    .menu-foot-btn {
      border-width: 1px;
      border-color: #8a96a0;
      border-style: solid;
      border-radius: 2px;
      background-color: white;
      padding: 11px 33px;
      width: 100%;
      cursor: pointer;
      a {
        color: #aaaaaa;
      }
    }
  }
}
