$menu-font: 16px;
$menu-line: 24px;
$menu-active: #0074ff;
$menu-color: #aaaaaa;

$brand-font: 20px;
$brand-line: 36px;
$pic-bg: #d1e0ff;

$dark-gray: #666f77;
$white: #ffffff;
$black: #000000;
$options-bg: rgb(250, 251, 252) ;
$dark-purple: #1a173b;
$dark-purple1: #354052;
$light-gray: #5f6d79;