*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body,
html {
  width: 100%;
  background: url("../images/login-bg.png") no-repeat;
  background-size: 100vw 100vh; }

.container {
  margin: 0 auto;
  max-width: 1170px; }

html {
  scroll-behavior: smooth;
  font-family: Poppins-regular, sans-serif; }

h1 {
  font-family: myriad-pro, sans-serif; }

button,
input,
textarea,
select {
  outline: none; }

img {
  max-width: 100%; }

li {
  list-style: none;
  display: inline; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.inactive {
  display: none !important; }

.block {
  display: block; }

.body-section {
  display: grid;
  grid-template-columns: max-content 1fr max-content; }

@media only screen and (max-width: 785px) {
  .body-section {
    grid-template-columns: 1fr; }
    .body-section .less-padding {
      padding: 0 !important; }
    .body-section .up {
      height: 276px;
      overflow: hidden;
      background: #00000057; }
      .body-section .up .container-mobile {
        opacity: 0.3; }
      .body-section .up .arrow-down-mobile {
        display: grid; }
    .body-section .down {
      height: auto;
      overflow: hidden;
      background: #fafbfc; }
      .body-section .down .container-mobile {
        background-color: transparent;
        opacity: 1;
        overflow: auto;
        margin-bottom: 40px; }
      .body-section .down .arrow-down-mobile {
        display: none; }
      .body-section .down .arrow-up-mobile {
        display: grid; } }
/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0074ff; }

.bold {
  font-weight: bold; }

.header-section {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 16px;
  border-bottom: 1px solid #d1e0ff;
  grid-gap: 232px; }
  .header-section .brand-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 16px;
    align-items: center; }
    .header-section .brand-wrapper figure {
      background-color: #d1e0ff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer; }
    .header-section .brand-wrapper h1 {
      font-size: 20px;
      line-height: 36px;
      cursor: pointer; }
  .header-section nav {
    align-items: center;
    display: grid;
    justify-content: right; }
    .header-section nav .nav-ul :last-child {
      border-right: 0; }
    .header-section nav .nav-ul li {
      padding: 0 17px;
      border-right: 1px solid #d1e0ff; }
      .header-section nav .nav-ul li .active {
        border-bottom: 2px solid #0074ff;
        color: #0074ff; }
      .header-section nav .nav-ul li a {
        color: #aaaaaa;
        font-size: 16px;
        line-height: 24px;
        padding: 26px 0; }
  .header-section .paging-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 17px;
    align-items: center; }
    .header-section .paging-wrapper .right-img {
      font-size: 16px;
      line-height: 24px;
      color: #666f77; }
  .header-section .head-btn-wrapper .menu-head-btn {
    border-width: 1px;
    border-color: #0074ff;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    padding: 10px 22px;
    width: 100%;
    cursor: pointer; }
    .header-section .head-btn-wrapper .menu-head-btn a {
      color: #0074ff;
      font-size: 13px; }

@media only screen and (max-width: 1410px) {
  .header-section {
    grid-gap: 0; } }
@media only screen and (max-width: 998px) {
  .header-section .paging-wrapper {
    font-size: 14px; }
  .header-section nav .nav-ul :nth-child(4),
  .header-section nav .nav-ul :nth-child(5) {
    display: none; }
  .header-section nav .nav-ul :nth-child(3) {
    border-right: 0; }
  .header-section nav .nav-ul li a {
    font-size: 13px; }
  .header-section .paging-wrapper .pages .page1 {
    display: none; }
  .header-section .paging-wrapper .pages .page2 {
    display: inline; }
  .header-section .brand-wrapper h1 {
    font-size: 16px; } }
@media only screen and (max-width: 785px) {
  .header-section {
    grid-template-columns: 1fr max-content; }
    .header-section nav {
      display: none; }
    .header-section .paging-wrapper {
      display: none; }
    .header-section .head-btn-wrapper {
      display: grid;
      align-items: center; } }
@media only screen and (max-width: 420px) {
  .header-section .brand-wrapper {
    grid-gap: 7px; }
    .header-section .brand-wrapper figure {
      width: 35px;
      height: 35px; }
    .header-section .brand-wrapper h1 {
      font-size: 12px; }
  .header-section .head-btn-wrapper .menu-head-btn {
    padding: 7px 10px; }
    .header-section .head-btn-wrapper .menu-head-btn a {
      font-size: 12px; } }
.sidebar-section .head-btn-wrapper {
  padding: 25px 13px;
  border-right: 1px solid #d1e0ff; }
  .sidebar-section .head-btn-wrapper .menu-head-btn {
    border-width: 1px;
    border-color: #0074ff;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    padding: 11px 33px;
    width: 100%;
    cursor: pointer; }
    .sidebar-section .head-btn-wrapper .menu-head-btn a {
      color: #0074ff;
      font-size: 16px; }
.sidebar-section .sidebar-options-wrapper {
  border-top: 1px solid #d1e0ff;
  border-bottom: 1px solid #d1e0ff;
  border-right: 1px solid #d1e0ff; }
  .sidebar-section .sidebar-options-wrapper .options-ul {
    overflow-y: auto;
    height: min(100vh - 265px); }
    .sidebar-section .sidebar-options-wrapper .options-ul li .active {
      color: #0074ff;
      background-color: #fafbfc; }
      .sidebar-section .sidebar-options-wrapper .options-ul li .active .blue-img {
        display: block; }
      .sidebar-section .sidebar-options-wrapper .options-ul li .active .gray-img {
        display: none; }
    .sidebar-section .sidebar-options-wrapper .options-ul li a {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 13px;
      padding: 17px;
      align-items: center;
      color: #aaaaaa; }
      .sidebar-section .sidebar-options-wrapper .options-ul li a p {
        font-size: 16px;
        line-height: 24px; }
  .sidebar-section .sidebar-options-wrapper .dropdown {
    position: relative; }
    .sidebar-section .sidebar-options-wrapper .dropdown .active {
      color: #0074ff;
      background-color: #fafbfc; }
      .sidebar-section .sidebar-options-wrapper .dropdown .active .blue-img {
        display: block; }
    .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn {
      border: 1px solid #d1e0ff;
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
      grid-gap: 10px;
      padding: 7px 15px;
      width: 170px; }
      .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn .menu-name {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 10px;
        align-items: center;
        color: #aaaaaa; }
      .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn .down-arrow {
        transform: rotate(-90deg); }
      .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn p {
        font-size: 16px;
        line-height: 24px;
        color: #0074ff; }
    .sidebar-section .sidebar-options-wrapper .dropdown .show {
      display: block !important; }
    .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content .active {
        color: #0074ff;
        background-color: #fafbfc; }
        .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content .active .blue-img {
          display: block; }
        .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content .active .gray-img {
          display: none; }
      .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content a {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 10px;
        padding: 10px;
        align-items: center;
        color: #aaaaaa; }
        .sidebar-section .sidebar-options-wrapper .dropdown .dropdown-content a p {
          font-size: 16px;
          line-height: 24px; }
.sidebar-section .foot-btn-wrapper {
  padding: 25px 13px;
  border-right: 1px solid #d1e0ff; }
  .sidebar-section .foot-btn-wrapper .menu-foot-btn {
    border-width: 1px;
    border-color: #8a96a0;
    border-style: solid;
    border-radius: 2px;
    background-color: white;
    padding: 11px 33px;
    width: 100%;
    cursor: pointer; }
    .sidebar-section .foot-btn-wrapper .menu-foot-btn a {
      color: #aaaaaa;
      font-size: 16px; }

@media only screen and (max-width: 998px) {
  .sidebar-section .head-btn-wrapper .menu-head-btn {
    padding: 10px 22px; }
    .sidebar-section .head-btn-wrapper .menu-head-btn a {
      font-size: 13px; }
  .sidebar-section .sidebar-options-wrapper .options-ul li a p {
    font-size: 13px; }
  .sidebar-section .foot-btn-wrapper .menu-foot-btn {
    padding: 10px 22px; }
  .sidebar-section .foot-btn-wrapper .menu-foot-btn a {
    font-size: 13px; } }
@media only screen and (max-width: 785px) {
  .sidebar-section {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #d1e0ff; }
    .sidebar-section .head-btn-wrapper {
      display: none; }
    .sidebar-section .foot-btn-wrapper {
      display: grid;
      justify-content: right;
      padding: 0; }
      .sidebar-section .foot-btn-wrapper .foot-btn-wrapper {
        border-right: 0;
        display: grid;
        grid-template-rows: max-content;
        justify-content: right; }
      .sidebar-section .foot-btn-wrapper .menu-foot-btn {
        padding: 10px 44px; }
    .sidebar-section .sidebar-options-wrapper {
      border-top: 0;
      border-bottom: 0;
      border-right: 0; }
      .sidebar-section .sidebar-options-wrapper .dropdown {
        display: inline-block; }
      .sidebar-section .sidebar-options-wrapper .options-ul {
        display: none; } }
@media only screen and (max-width: 420px) {
  .sidebar-section .sidebar-options-wrapper .dropdown .down-arrow {
    width: 7px !important; }
  .sidebar-section .sidebar-options-wrapper .dropdown img {
    width: 15px; }
  .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn {
    padding: 5px 10px;
    width: 125px; }
    .sidebar-section .sidebar-options-wrapper .dropdown .dropbtn p {
      font-size: 13px;
      line-height: 21px; }
  .sidebar-section .foot-btn-wrapper .menu-foot-btn {
    padding: 8px 27px; }
    .sidebar-section .foot-btn-wrapper .menu-foot-btn a {
      font-size: 12px; } }
.mobile-section {
  padding: 40px 0 0;
  background: #fafbfc; }
  .mobile-section .arrow-down-mobile {
    background: #f5cbcb;
    width: 25px;
    height: 12px;
    bottom: 0;
    position: absolute;
    align-content: center;
    justify-content: center;
    border: 1px solid #808080b8;
    border-bottom: none;
    cursor: pointer; }
    .mobile-section .arrow-down-mobile img {
      transform: rotate(-90deg);
      width: 6px; }
  .mobile-section .arrow-up-mobile {
    background: #f7b2b2;
    width: 25px;
    height: 12px;
    bottom: 0;
    position: absolute;
    align-content: center;
    justify-content: center;
    border: 1px solid #808080b8;
    border-bottom: none;
    cursor: pointer; }
    .mobile-section .arrow-up-mobile img {
      transform: rotate(90deg);
      width: 6px; }
  .mobile-section .container-mobile {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    justify-content: center;
    grid-gap: 10px; }
    .mobile-section .container-mobile .mobile-select {
      margin: 0 35px;
      border-width: 1px;
      border-color: #d6d6d6;
      border-style: solid;
      border-radius: 2px;
      background-color: white;
      padding: 6px 60px; }
      .mobile-section .container-mobile .mobile-select option {
        font-size: 16px; }
    .mobile-section .container-mobile .mobile-frame {
      border: 4px solid black;
      border-radius: 30px;
      background-clip: border-box;
      background: black;
      display: grid;
      justify-self: center;
      width: 70%;
      margin: 7px 0 15px;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); }
      .mobile-section .container-mobile .mobile-frame .mobile-img {
        border-radius: 25px;
        overflow: hidden;
        border: 7px solid black;
        background: white;
        width: 100%;
        height: min(100vh - 255px); }
    .mobile-section .container-mobile .mobile-btns-foot {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 18px;
      grid-gap: 25px;
      padding: 10px 0 0; }
      .mobile-section .container-mobile .mobile-btns-foot .mobile-btn1 a {
        border-width: 1px;
        border-color: #8a96a0;
        border-style: solid;
        border-radius: 2px;
        background-color: white;
        color: #aaaaaa;
        padding: 5px 20px;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 5px;
        align-items: center;
        justify-content: center; }
        .mobile-section .container-mobile .mobile-btns-foot .mobile-btn1 a span {
          font-size: 14px; }
      .mobile-section .container-mobile .mobile-btns-foot .mobile-btn2 a {
        border-width: 1px;
        border-color: #8a96a0;
        border-style: solid;
        border-radius: 2px;
        background-color: white;
        color: #aaaaaa;
        padding: 5px 20px;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 5px;
        justify-content: center;
        align-items: center; }
        .mobile-section .container-mobile .mobile-btns-foot .mobile-btn2 a span {
          font-size: 14px; }

@media only screen and (max-width: 1130px) {
  .mobile-section {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 25px 0 0; }
    .mobile-section .container-mobile .mobile-select {
      justify-self: center;
      padding: 0 0 5px;
      margin: 0; }
    .mobile-section .container-mobile .mobile-btns-foot {
      grid-gap: 10px;
      margin: 0 55px; }
      .mobile-section .container-mobile .mobile-btns-foot .mobile-btn1 a {
        padding: 5px 5px; }
        .mobile-section .container-mobile .mobile-btns-foot .mobile-btn1 a span {
          font-size: 12px; }
      .mobile-section .container-mobile .mobile-btns-foot .mobile-btn2 a {
        padding: 4px 5px; }
        .mobile-section .container-mobile .mobile-btns-foot .mobile-btn2 a span {
          font-size: 12px; } }
@media only screen and (max-width: 998px) {
  .mobile-section .container-mobile .mobile-btns-foot img {
    width: 15px !important; } }
.options-section {
  padding: 40px 30px;
  border-left: 1px solid #d1e0ff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 40px; }
  .options-section .head-options-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content); }
    .options-section .head-options-wrapper .option-btn2 span,
    .options-section .head-options-wrapper .option-btn3 span,
    .options-section .head-options-wrapper .option-btn4 span {
      font-size: 16px; }
    .options-section .head-options-wrapper .option-btn1 {
      border-width: 1px;
      border-color: #8a96a0;
      border-style: solid;
      border-radius: 2px;
      background-color: white;
      width: 128px;
      height: 32px;
      margin-right: 160px; }
      .options-section .head-options-wrapper .option-btn1 span {
        font-size: 14px; }
      .options-section .head-options-wrapper .option-btn1 a {
        color: #aaaaaa;
        display: grid;
        align-items: center;
        grid-gap: 5px;
        justify-content: center;
        grid-template-columns: repeat(2, max-content); }
    .options-section .head-options-wrapper .active {
      background-color: #0074ff !important; }
      .options-section .head-options-wrapper .active a {
        color: #ffffff !important; }
    .options-section .head-options-wrapper .option-btn2 {
      border-width: 1px;
      border-color: #0074ff;
      border-style: solid;
      border-radius: 2px 0 0 2px;
      background-color: white;
      width: 200px;
      height: 32px;
      cursor: pointer; }
      .options-section .head-options-wrapper .option-btn2 a {
        color: #1a173b; }
    .options-section .head-options-wrapper .option-btn3 {
      border-width: 1px;
      border-color: #0074ff;
      border-style: solid;
      border-radius: 0 2px 2px 0;
      background-color: white;
      width: 200px;
      height: 32px;
      cursor: pointer; }
      .options-section .head-options-wrapper .option-btn3 a {
        color: #1a173b; }
    .options-section .head-options-wrapper .option-btn4 {
      border-width: 1px;
      border-color: #8a96a0;
      border-style: solid;
      border-radius: 2px;
      background-color: white;
      width: 128px;
      height: 32px;
      margin-left: 160px; }
      .options-section .head-options-wrapper .option-btn4 a {
        color: #aaaaaa;
        display: grid;
        align-items: center;
        grid-gap: 5px;
        justify-content: center;
        grid-template-columns: repeat(2, max-content); }
  .options-section .option-wrapper1 {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    overflow-y: auto;
    height: min(100vh - 237px); }
    .options-section .option-wrapper1 .option-settings {
      background-color: #fafbfc;
      padding: 30px 20px;
      display: grid;
      grid-template-rows: repeat(4, max-content);
      grid-gap: 30px; }
      .options-section .option-wrapper1 .option-settings .row1 {
        display: grid;
        grid-template-columns: 1fr max-content; }
        .options-section .option-wrapper1 .option-settings .row1 span {
          color: #1a173b;
          font-size: 18px; }
        .options-section .option-wrapper1 .option-settings .row1 .option-btn {
          border-width: 1px;
          border-color: #0074ff;
          border-style: solid;
          border-radius: 2px;
          background-color: white;
          padding: 5px; }
          .options-section .option-wrapper1 .option-settings .row1 .option-btn a span {
            color: #0074ff;
            font-size: 14px;
            padding: 5px; }
      .options-section .option-wrapper1 .option-settings .row2 {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 10px;
        align-items: end; }
        .options-section .option-wrapper1 .option-settings .row2 .menu1 {
          display: grid;
          grid-gap: 7px; }
          .options-section .option-wrapper1 .option-settings .row2 .menu1 span {
            color: #354052;
            font-size: 16px; }
          .options-section .option-wrapper1 .option-settings .row2 .menu1 .shade-select {
            border-width: 1px;
            border-color: #d6d6d6;
            border-style: solid;
            border-radius: 2px;
            background-color: white;
            width: 220px;
            height: 40px;
            font-size: 15px;
            padding: 5px; }
        .options-section .option-wrapper1 .option-settings .row2 .shade-select {
          border-width: 1px;
          border-color: #d6d6d6;
          border-style: solid;
          border-radius: 2px;
          background-color: white;
          width: 96px;
          height: 40px;
          font-size: 15px;
          padding: 5px; }
        .options-section .option-wrapper1 .option-settings .row2 .emp-input-wrapper {
          border-width: 1px;
          border-color: #d6d6d6;
          border-style: solid;
          border-radius: 2px;
          width: 96px;
          height: 40px;
          overflow: hidden; }
          .options-section .option-wrapper1 .option-settings .row2 .emp-input-wrapper .color-select-white {
            border: none;
            background: none;
            width: 100px;
            height: 48px;
            position: relative;
            bottom: 5px;
            right: 3px; }
      .options-section .option-wrapper1 .option-settings .row3 {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 10px;
        align-items: end; }
        .options-section .option-wrapper1 .option-settings .row3 .menu1 {
          display: grid;
          grid-gap: 7px; }
          .options-section .option-wrapper1 .option-settings .row3 .menu1 span {
            font-size: 16px; }
          .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div {
            background: white;
            border-width: 1px;
            border-color: #d6d6d6;
            border-style: solid;
            border-radius: 2px;
            background-color: white;
            width: 150px;
            height: 40px;
            align-items: center;
            display: inline-flex;
            padding: 10px; }
            .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div input {
              border: none;
              width: 100%;
              font-size: 15px; }
            .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div span {
              font-size: 15px; }
        .options-section .option-wrapper1 .option-settings .row3 .input-div {
          background: white;
          border-width: 1px;
          border-color: #d6d6d6;
          border-style: solid;
          border-radius: 2px;
          background-color: white;
          width: 150px;
          height: 40px;
          align-items: center;
          display: inline-flex;
          padding: 10px; }
          .options-section .option-wrapper1 .option-settings .row3 .input-div input {
            border: none;
            width: 100%;
            font-size: 15px; }
          .options-section .option-wrapper1 .option-settings .row3 .input-div span {
            font-size: 15px; }
        .options-section .option-wrapper1 .option-settings .row3 .emp-input-wrapper {
          border-width: 1px;
          border-color: #d6d6d6;
          border-style: solid;
          border-radius: 2px;
          width: 96px;
          height: 40px;
          overflow: hidden; }
          .options-section .option-wrapper1 .option-settings .row3 .emp-input-wrapper .color-select-white {
            border: none;
            background: none;
            width: 100px;
            height: 48px;
            position: relative;
            bottom: 5px;
            right: 3px; }
      .options-section .option-wrapper1 .option-settings .row4 {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: 30px; }
        .options-section .option-wrapper1 .option-settings .row4 .menu1 {
          display: grid;
          grid-gap: 7px; }
          .options-section .option-wrapper1 .option-settings .row4 .menu1 span {
            color: #354052;
            font-size: 16px; }
          .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper {
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-gap: 7px;
            align-items: center; }
            .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper span {
              color: #5f6d79;
              font-size: 15px; }
            .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper .emp-input-wrapper {
              border-width: 1px;
              border-color: #d6d6d6;
              border-style: solid;
              border-radius: 2px;
              width: 96px;
              height: 40px;
              overflow: hidden; }
              .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper .emp-input-wrapper .color-select-red {
                border: none;
                background: none;
                width: 100px;
                height: 48px;
                position: relative;
                bottom: 5px;
                right: 3px; }
        .options-section .option-wrapper1 .option-settings .row4 .menu2 {
          display: grid;
          grid-template-columns: repeat(3, max-content);
          grid-gap: 7px;
          align-items: end; }
          .options-section .option-wrapper1 .option-settings .row4 .menu2 .menu2-box1 {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-gap: 7px;
            align-items: center;
            height: 40px; }
            .options-section .option-wrapper1 .option-settings .row4 .menu2 .menu2-box1 span {
              color: #5f6d79;
              font-size: 15px; }
          .options-section .option-wrapper1 .option-settings .row4 .menu2 .emp-input-wrapper {
            border-width: 1px;
            border-color: #d6d6d6;
            border-style: solid;
            border-radius: 2px;
            width: 96px;
            height: 40px;
            overflow: hidden; }
            .options-section .option-wrapper1 .option-settings .row4 .menu2 .emp-input-wrapper .color-select-gray {
              border: none;
              background: none;
              width: 100px;
              height: 48px;
              position: relative;
              bottom: 5px;
              right: 3px; }
  .options-section .option-wrapper2 {
    display: none; }

@media only screen and (max-width: 1670px) {
  .options-section .head-options-wrapper {
    grid-template-columns: repeat(2, max-content);
    grid-row-gap: 25px; }
    .options-section .head-options-wrapper .option-btn1 {
      margin-right: 0;
      grid-row: 2; }
    .options-section .head-options-wrapper .option-btn4 {
      margin-left: 72px; } }
@media only screen and (max-width: 1410px) {
  .options-section {
    padding: 25px;
    grid-gap: 25px; }
    .options-section .option-wrapper1 .option-settings {
      grid-gap: 15px; }
      .options-section .option-wrapper1 .option-settings .row2 .menu1 .shade-select {
        width: 145px; }
      .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div {
        width: 125px; }
      .options-section .option-wrapper1 .option-settings .row3 .input-div {
        width: 97px; } }
@media only screen and (max-width: 990px) {
  .options-section .head-options-wrapper span {
    font-size: 12px !important; }
  .options-section .head-options-wrapper .option-btn2 {
    width: 135px; }
  .options-section .head-options-wrapper .option-btn3 {
    width: 130px; }
  .options-section .head-options-wrapper .option-btn1 {
    width: 127px; }
  .options-section .head-options-wrapper .option-btn4 {
    margin-left: 8px;
    width: 123px; }
  .options-section .option-wrapper1 .option-settings .row1 span {
    font-size: 13px; }
  .options-section .option-wrapper1 .option-settings .row1 .option-btn a span {
    font-size: 11px; }
  .options-section .option-wrapper1 .option-settings .row2 .menu1 span,
  .options-section .option-wrapper1 .option-settings .row3 .menu1 span,
  .options-section .option-wrapper1 .option-settings .row4 .menu1 span {
    font-size: 13px; }
  .options-section .option-wrapper1 .option-settings .row2 {
    grid-gap: 14px; }
    .options-section .option-wrapper1 .option-settings .row2 .menu1 .shade-select {
      width: 85px;
      height: 28px;
      font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row2 .shade-select {
      width: 60px;
      height: 28px;
      font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row2 .emp-input-wrapper {
      width: 53px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row2 .emp-input-wrapper .color-select-white {
        width: 57px;
        height: 37px; }
  .options-section .option-wrapper1 .option-settings .row3 {
    grid-gap: 14px; }
    .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div {
      width: 66px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div input {
        font-size: 12px; }
      .options-section .option-wrapper1 .option-settings .row3 .menu1 .input-wrapper .input-div span {
        font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row3 .input-div {
      width: 60px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row3 .input-div input {
        font-size: 12px; }
      .options-section .option-wrapper1 .option-settings .row3 .input-div span {
        font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row3 .emp-input-wrapper {
      width: 53px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row3 .emp-input-wrapper .color-select-white {
        width: 57px;
        height: 37px; }
  .options-section .option-wrapper1 .option-settings .row4 {
    grid-gap: 13px; }
    .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper span {
      font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper .emp-input-wrapper {
      width: 53px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row4 .menu1 .input-wrapper .emp-input-wrapper .color-select-red {
        width: 57px;
        height: 37px; }
    .options-section .option-wrapper1 .option-settings .row4 .menu2 .menu2-box1 span {
      font-size: 12px; }
    .options-section .option-wrapper1 .option-settings .row4 .menu2 .emp-input-wrapper {
      width: 53px;
      height: 28px; }
      .options-section .option-wrapper1 .option-settings .row4 .menu2 .emp-input-wrapper .color-select-gray {
        width: 57px;
        height: 37px; } }
@media only screen and (max-width: 785px) {
  .options-section {
    justify-content: center; }
    .options-section img {
      width: 15px; } }
@media only screen and (max-width: 785px) {
  .nav-mobile {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 23px 0; }
    .nav-mobile nav {
      display: grid;
      justify-content: left; }
      .nav-mobile nav .nav-ul :last-child {
        border-right: 0; }
      .nav-mobile nav .nav-ul li a {
        font-size: 13px !important; }
      .nav-mobile nav .nav-ul li {
        padding: 0 17px;
        border-right: 1px solid #d1e0ff; }
        .nav-mobile nav .nav-ul li .active {
          border-bottom: 2px solid #0074ff;
          color: #0074ff; }
        .nav-mobile nav .nav-ul li a {
          color: #aaaaaa;
          font-size: 16px;
          line-height: 24px;
          padding: 26px 0; }
    .nav-mobile .paging-wrapper {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: 17px;
      align-items: center;
      padding: 0 16px; }
      .nav-mobile .paging-wrapper .right-img {
        font-size: 16px;
        line-height: 24px;
        color: #666f77; }
      .nav-mobile .paging-wrapper .pages {
        font-size: 13px; } }
@media only screen and (max-width: 710px) {
  .nav-mobile nav .nav-ul :nth-child(5) {
    display: none; }
    .nav-mobile nav .nav-ul :nth-child(5) a {
      font-size: 12px !important; }
  .nav-mobile nav .nav-ul :nth-child(4) {
    border-right: 0; }
    .nav-mobile nav .nav-ul :nth-child(4) a {
      font-size: 12px !important; }
  .nav-mobile .paging-wrapper .page1 {
    display: none; }
  .nav-mobile .paging-wrapper .page2 {
    display: inline; } }
@media only screen and (max-width: 560px) {
  .nav-mobile {
    padding: 17px 0; }
    .nav-mobile img {
      width: 6px; }
    .nav-mobile nav .page-two :nth-child(1),
    .nav-mobile nav .page-two :nth-child(2),
    .nav-mobile nav .page-two :nth-child(3) {
      display: none; }
    .nav-mobile nav .page-two :nth-child(4) {
      display: inline !important;
      border-right: 1px solid #d1e0ff; }
    .nav-mobile nav .page-two :last-child {
      display: inline !important; }
    .nav-mobile nav .nav-ul li {
      padding: 0 7px; }
      .nav-mobile nav .nav-ul li a {
        padding: 20px 0; }
    .nav-mobile nav .nav-ul :nth-child(4) {
      display: none; }
      .nav-mobile nav .nav-ul :nth-child(4) a {
        font-size: 11px !important; }
    .nav-mobile nav .nav-ul :nth-child(3) {
      border-right: 0; }
    .nav-mobile .paging-wrapper {
      grid-gap: 7px; }
      .nav-mobile .paging-wrapper .pages {
        font-size: 12px; }
        .nav-mobile .paging-wrapper .pages .new-hidden {
          display: inline; }
        .nav-mobile .paging-wrapper .pages .new-hidden1 {
          display: none; } }

/*# sourceMappingURL=style.css.map */
